@media screen and (max-width: 1280px) {
  header {
    height: 80vh;
  }
}
@media screen and (max-width: 1024px) {
  .section-padding {
    padding: 40px 0;
  }
  header {
    height: fit-content;
    text-align: center;
  }
  header .container {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  header .container > * {
    width: 100%;
  }
  .header-content h2 {
    font-size: 4.0625rem;
    margin: 5px 0;
  }
  .btn-group {
    display: flex;
    justify-content: center;
    gap: 2.5rem;
  }
  .btn-main {
    border-radius: 100vh;
  }
}
@media screen and (max-width: 768px) {
 
}
@media screen and (max-width: 430px) {
    html{
        font-size: 12px;
    }
  .btn-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.25rem;
  }
}
