@media screen and (max-width: 1280px) {
  header {
    height: 80vh;
  }
  .container {
    width: 80%;
  }
  .gallery-pics {
    height: 900px;
  }
}
@media screen and (max-width: 1120px) {
  .gallery-pics {
    height: 820px;
  }
}
@media screen and (max-width: 1024px) {
  header {
    height: fit-content;
    padding-bottom: 40px;
    text-align: center;
  }
  header .container {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 87px;
  }
  header .container > * {
    width: 100%;
  }
  .header-content h2 {
    font-size: 4.0625rem;
    margin: 5px 0;
  }
  .btn-group {
    display: flex;
    justify-content: center;
    gap: 2.5rem;
  }
  .btn-main {
    border-radius: 100vh;
  }
  .menu-toggle {
    display: inline-block;
  }
  .nav-links ul {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    bottom: 0;
    background-color: var(--color-light);
    flex-direction: column;
    align-items: flex-end;
    transform: translateX(100%);
    transition: transform var(--animation-duration);
    padding: 50px 20px;
  }
  body:has(#navLinks:target) .nav-links ul {
    transform: translateX(0);
  }
  .nav-links ul li .close-icon {
    display: inline-block;
  }
  body:has(#navLinks:target) nav {
    height: 100vh;
    background-color: hsl(
      var(--light-hue),
      var(--light-saturation),
      var(--light-lightness),
      0.5
    );
  }
  #chefs .cards-container {
    flex-wrap: wrap;
    gap: 20px;
  }
  #chefs .cards-container .card {
    width: calc((100% - 20px) / 2);
  }
  .gallery-pics {
    height: 1600px;
    picture {
      width: calc((100% - 15px) / 2);
    }
    .pizza {
      order: 0;
    }
    .slices {
      order: 3;
    }
    .beef {
      order: 5;
    }
    .frittata {
      order: 4;
    }
    .burger {
      order: 1;
    }
    .chicken {
      order: 6;
    }
    .kebab {
      order: 7;
    }
  }
  .contact {
    form {
      .input-group {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 15px;
        input {
          width: calc(100%);
        }
      }
    }
  }
}
@media screen and (max-width: 890px) {
  .gallery-pics {
    height: 1386px;
  }
}
@media screen and (max-width: 820px) {
  .gallery-pics {
    height: 1280px;
  }
}
@media screen and (max-width: 768px) {
  #chefs .cards-container {
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
  }
  #chefs .cards-container .card {
    width: 90%;
  }
  .gallery-pics {
    height: fit-content;
    picture {
      width: 100%;
    }
    .pizza {
      order: 0;
    }
    .slices {
      order: 3;
    }
    .beef {
      order: 5;
    }
    .frittata {
      order: 4;
    }
    .burger {
      order: 1;
    }
    .chicken {
      order: 6;
    }
    .kebab {
      order: 7;
    }
  }
  .contact {
    .details {
      flex-direction: column;
      & > div {
        width: 100%;
      }
    }
  }
}
@media screen and (max-width: 430px) {
  html {
    font-size: 12px;
  }
  .btn-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.25rem;
  }
  #chefs .cards-container .card {
    width: 100%;
  }
}
