@media screen and (max-width: 1280px) {
  header {
    height: 80vh;
  }
}
@media screen and (max-width: 1024px) {
  header {
    height: fit-content;
    padding-bottom: 40px;
    text-align: center;
  }
  header .container {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 87px;
  }
  header .container > * {
    width: 100%;
  }
  .header-content h2 {
    font-size: 4.0625rem;
    margin: 5px 0;
  }
  .btn-group {
    display: flex;
    justify-content: center;
    gap: 2.5rem;
  }
  .btn-main {
    border-radius: 100vh;
  }
  .menu-toggle {
    display: inline-block;
  }
  .nav-links ul {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    bottom: 0;
    background-color: var(--color-light);
    flex-direction: column;
    align-items: flex-end;
    transform: translateX(100%);
    transition: transform var(--animation-duration);
    padding: 50px 20px;
  }
  body:has(#navLinks:target) .nav-links ul {
    transform: translateX(0);
  }
  .nav-links ul li .close-icon {
    display: inline-block;
  }
  body:has(#navLinks:target) nav {
    height: 100vh;
    background-color: hsl(
      var(--light-hue),
      var(--light-saturation),
      var(--light-lightness),
      0.5
    );
  }
  #chefs .cards-container {
    flex-wrap: wrap;
    gap: 20px;
  }
  #chefs .cards-container .card {
    width: calc((100% - 20px) / 2);
  }
}
@media screen and (max-width: 768px) {
  #chefs .cards-container {
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
  }
  #chefs .cards-container .card {
    width: 90%;
  }
}
@media screen and (max-width: 430px) {
  html {
    font-size: 12px;
  }
  .btn-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.25rem;
  }
   #chefs .cards-container .card {
    width: 100%;
  }
}
