:root {
  --color-default: #212529;
  --primary-hue: 0;
  --primary-saturation: 84%;
  --primary-lightness: 44%;
  --primary-color: hsl(
    var(--primary-hue),
    var(--primary-saturation),
    var(--primary-lightness)
  );
  --color-secondary: #37373f;
  --color-tertiary: #7f7f90;
  --light-hue: 0;
  --light-saturation: 0%;
  --light-lightness: 100%;
  --color-light: hsl(
    var(--light-hue),
    var(--light-saturation),
    var(--light-lightness)
  );
  --color-light-gray: #eee;
  --font-default: "Open Sans", sans-serif;
  --font-primary: "Amatic SC", sans-serif;
  --font-secondary: "Inter", sans-serif;
  --animation-duration: 400ms;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: var(--font-default);
  color: var(--color-default);
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}
img {
  display: block;
  max-width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-secondary);
}
.bg-gray {
  background-color: var(--color-light-gray);
}
.container-85 {
  width: 85%;
  margin: auto;
}
.section-padding {
  padding: 100px 0;
}
