:root {
  --color-default: #212529;
  --primary-hue: 0;
  --primary-saturation: 84%;
  --primary-lightness: 44%;
  --primary-color: hsl(
    var(--primary-hue),
    var(--primary-saturation),
    var(--primary-lightness)
  );
  --color-secondary: #37373f;
  --color-tertiary: #7f7f90;
  --light-hue: 0;
  --light-saturation: 0%;
  --light-lightness: 100%;
  --color-light: hsl(
    var(--light-hue),
    var(--light-saturation),
    var(--light-lightness)
  );
  --color-light-gray: #eee;
  --font-default: "Open Sans", sans-serif;
  --font-primary: "Amatic SC", sans-serif;
  --font-secondary: "Inter", sans-serif;
  --animation-duration: 400ms;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
::selection {
  background-color: hsl(
    var(--primary-hue),
    var(--primary-saturation),
    var(--primary-lightness),
    0.7
  );
  color: var(--color-light);
}
body {
  margin: 0;
  font-family: var(--font-default);
  color: var(--color-default);
  background-color: var(--color-light);
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}
img {
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-secondary);
}
.bg-gray {
  background-color: var(--color-light-gray);
}
.btn {
  --background-color: transparent;
  --color: var(--color-light);
  --padding: 5px 12px;
  --border-width: 2px;
  --border-color: transparent;
  --border-radius: 0px;
  --hover-bg-color: transparent;
  --hover-color: transparent;
  --font-size: 1rem;

  padding: var(--padding);
  border: var(--border-width) solid var(--border-color);
  border-radius: var(--border-radius);
  background-color: var(--background-color);
  color: var(--color);
  font-size: var(--font-size);
  cursor: pointer;
  transition: background-color var(--animation-duration),
    color var(--animation-duration);
}
.btn:hover {
  background-color: var(--hover-bg-color);
  color: var(--hover-color);
}
.container {
  width: 85%;
  margin: auto;
}
.section-padding {
  padding: 6.25rem 0;
}
.section-header {
  text-align: center;
  /* margin-bottom: 4rem; */
}
.section-header h2 {
  font-family: var(--font-secondary);
  font-weight: 400;
  font-size: 0.875rem;
  color: var(--color-tertiary);
  text-transform: uppercase;
  margin-bottom: 2px;
}
.section-header p {
  font-family: var(--font-primary);
  font-size: 3.125rem;
  margin-top: 0;
}
.section-header p span {
  color: var(--primary-color);
}
/** End Global */
/*! Start Nav */
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--color-light);
  z-index: 999;
  box-shadow: 0px 0px 14px 0px #0000001b;
}
nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .nav-logo h1::after {
  content: ".";
  color: var(--primary-color);
}
.nav-links ul {
  display: flex;
  gap: 2rem;
  font-size: 17px;
  font-weight: 600;
  color: var(--color-tertiary);
}
.nav-links a {
  position: relative;
  transition: color var(--animation-duration);
}
.nav-links ul li a::after {
  content: "";
  width: 0%;
  height: 1px;
  background-color: var(--primary-color);
  position: absolute;
  bottom: -20%;
  left: 0;
  transition: width var(--animation-duration);
}
.nav-links ul li a:hover::after {
  width: 100%;
}
.nav-links a:hover {
  color: var(--color-default);
}
body:not(:has(:target)) nav a[href="#home"],
body:has(#home:target) nav a[href="#home"],
body:has(#chefs:target) nav a[href="#chefs"],
body:has(#gallery:target) nav a[href="#gallery"],
body:has(#contact:target) nav a[href="#contact"] {
  color: var(--color-default);
}
body:not(:has(:target)) nav a[href="#home"]::after,
body:has(#home:target) nav a[href="#home"]::after,
body:has(#chefs:target) nav a[href="#chefs"]::after,
body:has(#gallery:target) nav a[href="#gallery"]::after,
body:has(#contact:target) nav a[href="#contact"]::after {
  width: 100%;
}
.menu-icon i {
  font-size: 25px;
  cursor: pointer;
}
.menu-icon .light {
  display: none;
}
.menu-toggle {
  display: none;
}
.close-icon {
  display: none;
  text-align: right;
}
/*! End Nav */
/* Start Header */
header {
  height: 100vh;
  display: flex;
  align-items: center;
}
header .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
header .container > * {
  width: 40%;
}
.header-content h2 {
  font-family: var(--font-primary);
  font-weight: 700;
  font-size: 4.0625rem;
  margin: 5px 0;
}
.header-content p {
  color: var(--color-tertiary);
  line-height: 1.625rem;
}
.btn-group {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}
.btn-main {
  --background-color: var(--primary-color);
  --border-radius: 0px 100vh 100vh 100vh;
  --font-size: 0.9375rem;
  --padding: 0.625rem 1.5625rem;
  --hover-bg-color: hsl(
    var(--primary-hue),
    var(--primary-saturation),
    calc(var(--primary-lightness) + 10%)
  );
  --hover-color: var(--color-light);
}
header .video-btn {
  display: flex;
  align-items: center;
  transition: color var(--animation-duration);
  font-weight: 600;
}
header .video-btn:hover {
  color: var(--primary-color);
}
.video-btn .icon {
  width: 55px;
  height: 55px;
  background-image: linear-gradient(
    to right,
    var(--primary-color) 0% 50%,
    transparent 50% 100%
  );
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.video-btn .icon::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: var(--color-light);
  border-radius: inherit;
}
.video-btn .icon i {
  z-index: 5;
}
header picture img {
  filter: drop-shadow(4px 4px 9px #000a);
  width: 100%;
}
header picture img:hover {
  animation: shaking var(--animation-duration) linear infinite;
}
@keyframes shaking {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  25% {
    transform: translate(3px, 3px) rotate(-1deg);
  }
  50% {
    transform: translate(0, 0) rotate(1deg);
  }
  75% {
    transform: translate(-3px, 3px) rotate(0deg);
  }
  100% {
    transform: translate(0, 0) rotate(-1deg);
  }
}
/* End Header */
#chefs .cards-container {
 display: flex;
 flex-wrap: wrap;
 align-items: center;
 gap: 25px;
}
#chefs .cards-container .card {
 width: calc((100% - 50px) / 3);
 box-shadow: 3px 3px 15px 0px rgba(0, 0, 0, 0.1);
 border-radius: 10px;
 overflow: hidden;
 background-color: var(--color-light);
 text-align: center;
  transition: transform var(--animation-duration);
}
#chefs .cards-container .card:hover{
  transform: scale(1.05);
}
#chefs .cards-container .card .card-img {
 position: relative;
}
#chefs .cards-container .card .card-img::after {
 content: '';
 position: absolute;
 bottom: -1px;
 left: 0;
 width: 100%;
 height: 50px;
 background-image: url(../images/team-shape.svg);
}
body:has(.menu-icon input[type="checkbox"]:checked) #chefs .cards-container .card .card-img::after {
  background-image: url(../images/team-shape-dark.svg);
}
#chefs .cards-container .card .card-img img {
    width: 100%;
}
#chefs .card .card-img .icon-layer{
    background-color: #ffffff4d;
    position: absolute;
    top: 10%;
    right: 5%;
    border-radius: 5px;
    padding: 20px 10px;
    transform: translateX(150%);
    transition: transform var(--animation-duration) 400ms;
}
#chefs .cards-container .card:hover .card-img .icon-layer{
    transform: translateX(0);
}
#chefs .card .card-img .icon-layer li{
    padding: 5px;
    font-size: 1.125rem;
    color: var(--color-tertiary);
    transition: color var(--animation-duration);
}
#chefs .card .card-img .icon-layer li:hover{
    color: var(--color-gray);
}
#chefs .card-content{
    padding: 15px;
}
#chefs .card .card-content h3~*{
    color: var(--color-tertiary);
    font-size: 15px;
}
#chefs .card .card-content h3{
    margin: 1px;
}
#chefs .card .card-content p{
    font-style: italic;
    margin-top: 5px;
}